/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 3, 2017, 6:47:48 PM
    Author     : 00139265
*/

#cabecera {
 font-family: Arial;
 font-size: 45px;
 text-align: center;
}


h2{
    font-size: 18px;
    color: silver;
    
}

ul li{
    list-style-type: none;
    color:white;
    background: rgb( 59,192,194);
    display:inline;
    font-size: 20px;
    font-weight: bold;
    padding:10px;
    border-radius:10px;   
}
  


#menu{
    text-align: center;
}

#cuerpo {
    text-align: center;
    font-family: Century Gothic;
    font-size: 20px;
   
}

#pie{
    
    background: rgb(59,192,194);
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 20px;
    font-size: 15px;
   
}

a:hover{
   color: blue;
   font-size:22px;
    
}

a{
    text-decoration: none;
    color: black;

}

form{
    /*centrando el formulario y poniendo borde */
 margin: 0 auto;    
width: 800px;
padding: 1em;
border: 1px solid blue;
border-radius: 1em;
background: white;
  }
  form div {
      
      margin-top: 1em;

  }
  a:link
  {
      color:red;
  }
  a:visited
  {
      color:  black;
     
  }
  a:active{
      color:   aqua;
  }
    /*cuadros del formulario */
  label{
      display: inline-block;
          width:100px;
          text-align: right;
          width: 220px;
 }
 
  input, textarea{
      font: 1em arial Gothic;
      width:400px;
      
  }
  input:focus,textarea:focus
  {
  border-color:red;
  }
  
  .centralizada{text-align: center}
 .fondo{ background-color: red;} 